body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d5bbb1;
  height: 100vh;
}
.card {
  height: 490px;
  width: 350px;
  border-radius: 25px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  > img {
    overflow: visible;
    width: 410px;
    height: 410px;
    background: transparent;
    transform: rotate(15deg) translateX(20px);
  }
  > p {
    text-align: left;
    text-overflow: wrap;
    padding: 20px;
  }
  > button {
    height: 55px;
    border-radius: 5px;
    background: #d5bbb1;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
  }
  > button:hover {
    cursor: pointer;
    background: #c5aba1;
  }
}
.card:hover {
  cursor: pointer;
  animation: scaleup 1s forwards;
  > img {
    animation: rotate 1s forwards;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(15deg) translateX(20px);
  }
  50% {
    transform: rotate(5deg) translateX(20px) scale(1.1);
  }
  100% {
    transform: rotate(15deg) translateX(20px);
  }
}
@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
